* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

body {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  background-color: black;
}

body.lock {
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #d4d4d4;
}

.header__container {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32.5px;
}

.header__logo {
  margin: 8px 0;
  position: relative;
  z-index: 11;
}

.header__menu {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-menu {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__item {
  margin-left: 42px;
  list-style-type: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__item:hover {
  color: #d8670d;
}

.header__burger {
  display: none;
}

.header__burger-div {
  width: 25px;
  height: 2px;
  background: white;
  margin-bottom: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border-radius: 20px;
}

.movie {
  position: relative;
  padding-top: 70px;
  padding-bottom: 90px;
}

.movie:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  border: 1px solid #d8670d;
  -webkit-box-shadow: 0px 0px 12px 1px #d8670d;
          box-shadow: 0px 0px 12px 1px #d8670d;
  height: 0px;
}

.movie__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie__poster {
  /* margin-right: 60px; */
  margin-right: 4%;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 358px;
          flex: 0 1 358px;
}

.movie__poster img {
  max-width: 100%;
}

.movie__trailer1 {
  margin-left: 40px;
  margin-top: 28px;
  display: none;
  margin-bottom: 55px;
}

.movie__about {
  /* max-width: 515px; */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 535px;
          flex: 0 1 535px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 12px;
}

.movie__undertitle {
  font-size: 18px;
  color: #a5a5a5;
  margin-bottom: 33px;
}

.movie__age {
  color: #363636;
  margin-left: 12px;
}

.movie__text {
  line-height: 21px;
  margin-bottom: 32px;
}

.movie__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 19px;
  color: #b7b7b7;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie__general-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50%-20px);
          flex: 0 0 calc(50%-20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

.movie__general-left-left {
  font-weight: bold;
}

.movie__general-left-left p {
  width: 100px;
  padding-right: 20px;
  margin-right: 10px;
}

.movie__general-item {
  margin-bottom: 16px;
}

.movie__general-left-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50%-5px);
          flex: 0 0 calc(50%-5px);
}

.movie__general-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50%-20px);
          flex: 0 0 calc(50%-20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie__general-right-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50%-5px);
          flex: 0 0 calc(50%-5px);
  font-weight: bold;
}

.movie__general-right-left p {
  width: 100px;
  padding-right: 30px;
  margin-right: 10px;
}

.movie__general-right-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50%-5px);
          flex: 0 0 calc(50%-5px);
}

.movie__ratingAndTrailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie__rating {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 80px;
}

.movie__rating-percent {
  border: 2px solid #7dbacd;
  border-radius: 10px;
  padding: 35px 25px;
  font-weight: bold;
  font-size: 28px;
  color: #7dbacd;
  margin-right: 34px;
}

.movie__rating-text {
  font-weight: bold;
  font-size: 18px;
}

.movie__trailer2 {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

.trailer {
  position: relative;
  font-size: 16px;
  color: #7dbacd;
}

.trailer:before {
  content: url(../img/icons/play.svg);
  position: absolute;
  left: -40px;
  top: -5px;
}

.movie__trailer2:before {
  content: url(../img/icons/play.svg);
  position: absolute;
  left: -40px;
  top: -5px;
}

.people {
  padding-top: 70px;
  padding-bottom: 100px;
}

.people__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.people__titles {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 60px;
  cursor: pointer;
}

.people__creators {
  font-weight: normal;
  color: #a5a5a5;
}

.people__titles span {
  margin-right: 30px;
}

.people__row > div {
  /* display: flex; */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.people__row > div.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people__actorsgroup {
  display: none;
}

.people__creatorsgroup {
  display: none;
}

.people__item {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 275px;
          flex: 1 1 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  justify-self: flex-start;
  padding-right: 18px;
}

.people__item-img img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.people__item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.people__item-name {
  color: #7dbacd;
  margin-bottom: 6px;
}

.people__item-undername {
  color: #a5a5a5;
}

.news {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
  color: black;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 65px;
}

.news__row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 30px);
          flex: 0 0 calc(25% - 30px);
  background-color: white;
  padding: 30px 30px 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.news__arrow {
  display: none;
}

.news__item:last-child {
  margin-right: 0;
}

.news__item-date {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 14px;
}

.news__item-text {
  color: black;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
}

.news__item-text:hover {
  text-decoration: underline;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 23px;
}

.newheader {
  background-color: gold;
}

.newheader__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

@media (max-width: 992px) {
  .movie {
    padding-top: 30px;
  }
  .movie__poster {
    margin-right: 0;
  }
  .movie__trailer1 {
    display: inline-block;
  }
  .movie__trailer2 {
    display: none;
  }
  .movie__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movie__poster {
    margin: 0 auto;
  }
  .movie__age {
    display: none;
  }
  .movie__general {
    margin-bottom: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .movie__rating {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .movie {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 40px;
  }
  .movie:after {
    display: none;
  }
  .movie__general-item {
    color: white;
  }
  .people__titles {
    font-size: 18px;
    line-height: 21px;
  }
  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 30px);
            flex: 0 0 calc(50% - 30px);
    margin-bottom: 30px;
  }
  .video {
    width: 410px;
    height: 224px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .movie {
    padding-top: 75px;
  }
  .header__menu {
    display: none;
  }
  .header__burger-menu {
    margin-top: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    line-height: 21px;
    overflow: auto;
    padding-top: 131px;
    padding-bottom: 131px;
    font-size: 0;
  }
  .header__item {
    margin-left: 0;
  }
  .header__burger-menu a {
    margin-bottom: 18px;
    -webkit-transition: none;
    transition: none;
  }
  .header__burger-menu span {
    width: 100px;
    height: 10px;
    background-color: #d4d4d4;
    margin-top: 66px;
    margin-bottom: 66px;
    border: 1px solid #d4d4d4;
  }
  .header__burger-menu.active {
    top: 0;
    font-size: 18px;
  }
  .header__burger {
    display: block;
    z-index: 10;
    position: relative;
  }
  .header__burger.active div {
    background-color: #363636;
  }
  .header__burger.active .header__burger-div1 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 14px;
  }
  .header__burger.active .header__burger-div2 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header__burger.active .header__burger-div3 {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 15px;
  }
  .people__item-img img {
    width: 60px;
    height: 60px;
  }
  .header__logo img {
    width: 55px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__row-container {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    margin-right: 25px;
    margin-bottom: 0;
  }
  .news__arrow {
    cursor: pointer;
    display: block;
  }
  .news__row:last-child {
    margin-bottom: 0px;
  }
  .video {
    width: 368px;
    height: 204px;
  }
}

.slider > :not(.news__selected) {
  display: none;
}

.news__arrow.disable {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 430px) {
  .video {
    width: 315px;
    height: 184px;
  }
}

@media (max-width: 360px) {
  .news__item {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
  }
  .people__item {
    padding-right: 0;
  }
  section {
    width: 103%;
  }
  .video {
    width: 270px;
    height: 159px;
  }
}

.backward {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 105vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.btn {
  cursor: pointer;
}
